@using System.Collections
@using MvcApplication8.Models
@using OnlineDepartmentAutomationSystem.Models
<table style="width: 60%;border: 2px solid green;position:relative;left:30%" id="bacDetailsTabl">
    
    
    
              <tr><th colspan="4" style="font-family: Arial;font-size: 20px;font-weight: bold;background: skyblue;color: white"> Latest Registered Backloks</th>

                        </tr>
    <tr style="font-family: Arial;font-weight: bold;background: forestgreen;color:white ">
        <th>Course Code</th>
        <th>Course Title</th>
        <th>Credit</th>
           <th>Year Term</th>
    </tr>
    @{
        double sum = 0;
        DeptAutDbContext _d = new DeptAutDbContext();
        foreach (var i in (IEnumerable<BacklokRegDetViewModel>)ViewData["lastRegBackloks"])
           {

               sum = sum + i.Credit;
                <tr style="background: #fff">
            <td>@Html.DisplayFor(m=>i.CourseCode)</td>
                              <td>@Html.DisplayFor(m=>i.CourseTitle)</td>
                    <td>@Html.DisplayFor(m=>i.Credit)</td>
                       <td>@Html.DisplayFor(m=>i.YearTerm)</td>
        </tr>
           }
    }
 <tr><td></td>
            <td></td>
     <td >Total =@sum credits</td>
      <td></td>
        </tr>
</table>