@using OnlineDepartmentAutomationSystem.Models
@{
    ViewBag.Title = "GetYearTerms";
}
<div class="prettyprint">
<table class="table table-bordered">
    <tr>
        <th style="font-size: 22px;">
          Year Term
        </th>
   
       
    </tr>

@foreach (var item in (IQueryable<YearTermViewModel>)ViewBag.YearTermsList )
{
    <tr>
        <td >
            <a href="@Url.Action("GetCourseDetailsByAuthStudentDepartment",new{yearTerm=item.YearTerm})" style="color: green;background: none;text-decoration: underline;font-size: 1.5em">   @item.YearTerm</a>
         
        </td>
       
    </tr>
}

</table>
    </div>
