
@{
    ViewBag.Title = "Home Page";
}
<div class="prettyprint">
<h1 style="font-family: Verdana;text-align: center;font-size: 25px">Welcome to Online Year Term Registration System of Noakhali Science and Technology University </h1>
    </div>
<img src="~/Content/fevf.jpg" />
<noscript>
    <meta http-equiv="refresh" content="0;url=http://localhost:1152/home/ThrowJavaScriptOffNotification"/>
</noscript>